$grey100: #03050f;
$grey80: #2B304E;
$grey60: #5e6488;
$grey30: #CCD1EE;
$grey10: #f8f9ff;
$blueb: #4f4fff;
$n100: #FAFBFF;
$n200: #EDEFFC;
$n400: #D7DBF5;
$n500: #A9AFD9;
$n600: #7981B2;
$n700: #141938;
$greena: #7DF0BA;
$ss300: #389E0D;
$redr: #FF1C44;