.options {
  margin-bottom: 21px;
  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: get-width(7, 7);
    @include laptop1280 {
      flex-direction: row;
      margin: 0 auto;
      width: get-width(13, 23);
    }
    .option {
      align-items: flex-start;
      background: white;
      border: 3px solid white;
      border-radius: 24px;
      box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
      box-sizing: border-box;
      color: $n700;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      padding: 16px 24px 40px 24px;
      width: get-width(7, 7);
      @include laptop1280 {
        width: get-width(6, 13);
      }
      &:first-child {
        margin-bottom: 24px;
        @include laptop1280 {
          margin-bottom: 0;
        }
      }
      &.active {
        border: 3px solid $grey100;
        .check {
          span {
            background: $ss300;
            border-color: $ss300;
            img {
              opacity: 1;
            }
          }
        }
      }
      .check {
        display: flex;
        justify-content: flex-end;
        pointer-events: none;
        user-select: none;
        width: 100%;
        span {
          align-items: center;
          background: transparent;
          border: 1px solid $n500;
          border-radius: 24px;
          box-sizing: border-box;
          display: flex;
          height: 24px;
          justify-content: center;
          position: relative;
          width: 24px;
          img {
            position: absolute;
            opacity: 0;
          }
        }
      }
      .subtitle {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
        @include laptop1280 {
          flex-direction: column;
        }
        img {
          display: inline-block;
          height: 32px;
          margin-right: 8px;
          pointer-events: none;
          user-select: none;
          width: auto;
          @include laptop1280 {
            height: 48px;
            margin-right: 0;
          }
        }
        h3 {
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0.2px;
          line-height: 28px;
          pointer-events: none;
          user-select: none;
        }
      }
      p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2px;
        line-height: 20px;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}